﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Page Title - SB Admin</title>
    <link href="~/Areas/wroot/css/styles.css" rel="stylesheet" />
    <script src="~/Areas/wroot/js/all.min.js"></script>
</head>
<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                                <div class="card-body">
                                    <form method="post" action="/Login/Login">
                                        <div class="form-group">
                                            <label class="small mb-1" for="inputEmailAddress">Tên đăng nhập</label>
                                            <input class="form-control py-4" id="inputEmailAddress" type="text" name="UserName" placeholder="nhập user name" />
                                        </div>
                                        <div class="form-group">
                                            <label class="small mb-1" for="inputPassword">Password</label>
                                            <input class="form-control py-4" id="inputPassword" type="password" name="Password" placeholder="Nhập mật khẩu" />
                                        </div>
                                        <div class="form-group">
                                            @ViewBag.Error
                                        </div>
                                        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                          
                                            <button class="btn btn-primary">Đăng nhập</button>
                                        </div>
                                    </form>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2020</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="~/Areas/wroot/js/jquery-3.5.1.min.js"></script>
    <script src="~/Areas/wroot/js/bootstrap.bundle.min.js"></script>
    <script src="~/Areas/wroot/js/scripts.js"></script>
</body>
</html>
